@{ 
    Layout = "~/Views/Shared/_Layout.cshtml";
}


<main>




    <div class="chart-area" style="width:100%;">

        <h1>hello</h1>
        <canvas id="myChart" style="width:100%;max-width:600px"></canvas>

        <script>
        new Chart("myChart", {
        type: "line",
        data: {
        labels: xValues,
        datasets: [{
        fill: false,
        lineTension: 0,
        backgroundColor: "rgba(0,0,255,1.0)",
        borderColor: "rgba(0,0,255,0.1)",
        data: yValues
        }]
        },
        options: {
        legend: {display: false},
        scales: {
        yAxes: [{ticks: {min: 6, max:16}}],
        }
        }
        });
        </script>
    </div>




</main>