body {
    background-image: url("back.jpg");
    background-size: 100%;
    background-repeat: no-repeat;
    overflow-y:hidden;
}

.login {
    height: 350px;
    width: 550px;
    margin-left: 30%;
    background-color: rgba(21, 46, 12, 0.696);
    background-blend-mode: darken;
    margin-top: 2%;
    opacity: 90%;
    border-radius: 15px;
    padding: 20px;
    border: 2px solid gold;
}



.header img {
    height: 200px;
    width: 500px;
    margin-top: 20px;
    margin-left: 33%;
    animation-name: spin;
    animation-duration: 5000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}



.loginform {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 15px;
    margin-left: 23%;
    margin-top: 50px;
    background-color: rgb(255, 255, 255);
    width: 45%;
    padding: 30px;
    opacity: 100%;
    border: 2px solid rgb(255, 255, 255);
    border-radius: 10px;
}

    .loginform input {
        width: 220px;
    }


.submitbtn {
    margin-top: 20px;
    background-color: rgba(27, 55, 21, 0.782);
    color: white;
    width: 100px;
    height: 30px;
    margin-left: 28%;
    border: 2px solid rgb(147, 149, 17);
    border-radius: 10px;
}




@keyframes spin {
    from {
        transform: rotateY(0deg);
    }

    to {
        transform: rotateY(360deg);
    }
}
